
center {   /*ha ha*/
    text-align: left;
}

.gwt-DialogBox {
    margin-left: -100px;
}

.iogc-ChatPanel .gwt-TextBox {
    color: #600;
    font-size:1.4em;
}

.iogc-ChatPanel .iogc-ChatPanel-messages div {
    font-size: 1.1em;
}

.nope {
    display: none;
}

.chat-link {
    font-size: 1.1em;
}

.chat-image {
    width: 300px;
    height: 200px;
    margin: 5px auto;
}

.btn_collection button {
    width: 30px;
    margin: 0 2px;
}

button.danger {
    background-color: #F00;
    font-weight: bolder;
    color: #DDD;
}

.auto-end-turn {
    margin: 5px 0;
}

.flag_btn_collection {
    margin: 0;
    list-style: none;
    text-shadow: 2px 1px 3px #000;

}
.flag_btn_collection li {
    display: inline-block;
    font-size: 25px;
    margin:0;
    padding: 2px;
    border: 1px solid #FFF;
    cursor: pointer;
}

.flag_btn_collection li.flagged {
    border: 2px solid red;
}

.flag_btn_collection li:hover {
    border: 1px solid #666;
}

.player_btn_collection {
    position: absolute;
    top:5px;
    left:0;
    margin: 0;
    padding:5px;
    width: 150px;
    z-index: 2222;
    display:none;
}

.player_btn_collection button {
    display: inline-block;
    font-size: 12px;
    padding: 2px 4px;
}

.btn_park {
    border: 1px solid #DDD;
    padding: 4px;

}


/* options page */

.container {
    width: 600px;
    margin: 20px auto;
    border: 2px solid #DDD;
}

.okdice-options fieldset {
    margin: 10px;
    padding: 10px;
}