.current-tables {
  font-size: .8em;
}
.table-selector thead {
  background-color: #CCC;
  color: #333;
  font-size: .5em;
}
.table-name {
  font-weight: bold;
  word-wrap: break-word;
  padding: 3px;
}
.table-num-players {
  text-align: center;
}
.table-num-players small {
  color: #333;
  padding: 0 0 0 4px;
}
.pts-0 {
  background-color: #e5bfcb;
}
.pts-100 {
  background-color: #84ba96;
}
.pts-500 {
  background-color: #A884BA;
}
.pts-2000 {
  background-color: #baba84;
}
.pts-5000 {
  background-color: #8484ba;
}
.gwt-DialogBox {
  margin-left: -100px;
}
.nope {
  display: none;
}
.chat-link {
  font-size: 1.1em;
}
.chat-image {
  width: 300px;
  height: 200px;
  margin: 5px auto;
}
.chat-btn {
  padding: 4px;
  margin: 2px;
}
.chat-buttons {
  position: absolute;
  width: 340px;
  background-color: #DDD;
  padding: 3px;
}
.btn_collection button {
  width: 30px;
  margin: 0 2px;
}
button.danger {
  background-color: #F00;
  font-weight: bolder;
  color: #DDD;
}
.auto-end-turn {
  margin: 5px 0;
}
.flags {
  margin: 0;
  list-style: none;
  text-shadow: 2px 1px 3px #000;
}
.flags li {
  display: inline-block;
  font-size: 25px;
  margin: 0;
  padding: 2px;
  border: 1px solid #FFF;
  cursor: pointer;
}
.flags .flagged {
  border: 2px solid red;
}
.flags li:hover {
  border: 1px solid #666;
}
.player_btn_collection {
  position: absolute;
  top: 5px;
  left: 0;
  margin: 0;
  padding: 5px;
  width: 150px;
  z-index: 2222;
  display: none;
}
.player_btn_collection button, .player_btn_collection a {
  display: block;
  font-size: 12px;
  padding: 2px 4px;
  width: 60px;
  margin: 5px;
}
.btn_park {
  border: 1px solid #DDD;
  padding: 4px;
}
.okdiced {
  border-bottom: 1px dashed #EEE;
}
.table-selector {
  width: 175px;
  margin: 3px 0;
  font-size: 1.1em;
}
.table-selector option {
  margin: 0;
}
.opt-desc {
  font-weight: bolder;
}
.table-selector option:nth-of-type(2n) {
  background-color: #CCC;
}

/* options page */

.save-alert {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  background-color: #dff0d8;
}
.container {
  width: 600px;
  margin: 20px auto;
  border: 2px solid #DDD;
}
.okdice-options fieldset {
  margin: 10px;
  padding: 10px;
}

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */


/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
  z-index: 999;
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #5a8f00;
  color: #333;
  background: #fff;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left: 30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right: 30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 40px;
  /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* creates the smaller  triangle */

.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  /* value = - border-top-width - border-bottom-width */
  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* Variant : top
------------------------------------------ */


/* creates the larger triangle */

.triangle-border.top:before {
  top: -20px;
  /* value = - border-top-width - border-bottom-width */
  bottom: auto;
  left: auto;
  right: 40px;
  /* controls horizontal position */
  border-width: 0 20px 20px;
}

/* creates the smaller  triangle */

.triangle-border.top:after {
  top: -13px;
  /* value = - border-top-width - border-bottom-width */
  bottom: auto;
  left: auto;
  right: 47px;
  /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width: 0 13px 13px;
}

/* Variant : left
------------------------------------------ */


/* creates the larger triangle */

.triangle-border.left:before {
  top: 10px;
  /* controls vertical position */
  bottom: auto;
  left: -30px;
  /* value = - border-left-width - border-right-width */
  border-width: 15px 30px 15px 0;
  border-color: transparent #5a8f00;
}

/* creates the smaller  triangle */

.triangle-border.left:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom: auto;
  left: -21px;
  /* value = - border-left-width - border-right-width */
  border-width: 9px 21px 9px 0;
  border-color: transparent #fff;
}

/* Variant : right
------------------------------------------ */


/* creates the larger triangle */

.triangle-border.right:before {
  top: 10px;
  /* controls vertical position */
  bottom: auto;
  left: auto;
  right: -30px;
  /* value = - border-left-width - border-right-width */
  border-width: 15px 0 15px 30px;
  border-color: transparent #5a8f00;
}

/* creates the smaller  triangle */

.triangle-border.right:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom: auto;
  left: auto;
  right: -21px;
  /* value = - border-left-width - border-right-width */
  border-width: 9px 0 9px 21px;
  border-color: transparent #fff;
}
